@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
}

@layer utilities {
    .linear-background-dark {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #333; /* Dark mode background color */
        background: linear-gradient(to right, #444 8%, #333 18%, #444 33%); /* Dark mode gradient colors */
        background-size: 1000px 104px;
        height: 338px;
        position: relative;
        overflow: hidden;
    }
  }



@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}